{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_top_bar %}{% endblock %}

{# Navigation auf Ebene des Logos #}
{% block layout_header_logo %}
    <div class="col-12 col-lg">
        <ul class="sd-header-navigation">
            {% block layout_main_navigation_menu %}
                <nav class="nav main-navigationavigation-menu"
                     itemscope="itemscope"
                     itemtype="http://schema.org/SiteNavigationElement">
                    {% set homeLabel = context.salesChannel.translated.homeName|default("general.homeLink"|trans) %}

                    {% block layout_main_navigation_menu_home %}
                        {% if context.salesChannel.translated.homeEnabled %}
                            <a class="nav-link main-navigation-link{% if controllerAction is same as('home') %} active{% endif %} home-link"
                               href="{{ path('frontend.home.page') }}"
                               itemprop="url"
                               title="{{ homeLabel|striptags }}">
                                <div class="main-navigation-link-text">
                                    <span itemprop="name">{{ homeLabel|sw_sanitize }}</span>
                                </div>
                            </a>
                        {% endif %}
                    {% endblock %}

                    {% block layout_main_navigation_menu_items %}
                        {% if page.product is defined %}
                            {% set activePath = page.product.categoryTree %}
                        {% else %}
                            {% set activePath = page.header.navigation.active.path %}
                        {% endif %}

                        {% for treeItem in page.header.navigation.tree %}
                            {% set category = treeItem.category %}
                            {% set name = category.translated.name %}

                            {# @deprecated tag:v6.5.0 - Use "category.id" directly instead. #}
                            {% set categorId = category.id %}

                            {% block layout_main_navigation_menu_item %}
                                {% if category.type == 'folder' %}
                                    <div class="nav-link main-navigation-link"
                                        {% if treeItem.children|length > 0 %}
                                            data-flyout-menu-trigger="{{ category.id }}"
                                        {% endif %}
                                         title="{{ name }}">
                                        <div class="main-navigation-link-text">
                                            <span itemprop="name">{{ name }}</span>
                                        </div>
                                    </div>
                                {% else %}
                                    <a class="nav-link main-navigation-link{% if category.id == page.header.navigation.active.id or category.id in activePath %} active{% endif %}"
                                       href="{{ category_url(category) }}"
                                       itemprop="url"
                                       {% if treeItem.children|length > 0 %}data-flyout-menu-trigger="{{ category.id }}"{% endif %}
                                        {% if category_linknewtab(category) %}target="_blank"{% endif %}
                                       title="{{ name }}">
                                        <div class="main-navigation-link-text">
                                            <span itemprop="name">{{ name }}</span>
                                        </div>
                                    </a>
                                {% endif %}
                            {% endblock %}
                        {% endfor %}
                    {% endblock %}
                </nav>
            {% endblock %}
        </ul>
    </div>
    <div class="col-12 col-lg header-logo-col">
        {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
    </div>
{% endblock %}

{# Suche entfernt #}
{% block layout_header_search %}{% endblock %}

{# col-lg hinzugefügt #}
{% block layout_header_actions %}
    <div class="col-12 order-1 col-lg col-sm-auto order-sm-2 header-actions-col">
        <div class="row no-gutters justify-content-end">
            {% block layout_header_navigation_toggle %}
                <div class="col d-sm-none">
                    <div class="menu-button">
                        {% block layout_header_navigation_toggle_button %}
                            <button class="btn nav-main-toggle-btn header-actions-btn"
                                    type="button"
                                    data-offcanvas-menu="true"
                                    aria-label="{{ "general.menuLink"|trans|striptags }}">
                                {% block layout_header_navigation_toggle_button_icon %}
                                    {% sw_icon 'stack' %}
                                {% endblock %}
                            </button>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

            {# Anstelle des search-toggle Anmeldelink setzen#}
            {% block layout_header_search_toggle %}
            <div class="sd-login">
                <a href="{{ path('frontend.account.login.page') }}">Anmelden</a>
            </div>
            {% endblock %}

            {% if config('core.cart.wishlistEnabled') %}
                {% block layout_header_actions_wishlist %}
                    <div class="col-auto">
                        <div class="header-wishlist">
                            <a class="btn header-wishlist-btn header-actions-btn"
                               href="{{ path('frontend.wishlist.page') }}"
                               title="{{ 'header.wishlist'|trans|striptags }}"
                               aria-label="{{ 'header.wishlist'|trans|striptags }}">
                                {% sw_include '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' %}
                            </a>
                        </div>
                    </div>
                {% endblock %}
            {% endif %}

            {% block layout_header_actions_account %}
                <div class="col-auto" style="align-self: center">
                    <div class="account-menu">
                        {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
                    </div>
                </div>
            {% endblock %}

            {% block layout_header_actions_cart %}
                <div class="col-auto" style="align-self: center">
                    <div class="header-cart"
                         data-offcanvas-cart="true">
                        <a class="btn header-cart-btn header-actions-btn"
                           href="{{ path('frontend.checkout.cart.page') }}"
                           data-cart-widget="true"
                           title="{{ 'checkout.cartTitle'|trans|striptags }}"
                           aria-label="{{ 'checkout.cartTitle'|trans|striptags }}">
                            {% sw_include '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}
                        </a>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
    </div>
{% endblock %}
